@mixin desktop() {
	@media (max-width: $breakpoint_xxl) {
		@content;
	}
}
@mixin tablet() {
	@media (max-width: $breakpoint_md) {
		@content;
	}
}
@mixin mobile() {
	@media (max-width: $breakpoint_none) {
		@content;
	}
}
