@font-face {
    font-family: "Gilroy800";
    src: url('../fonts/Inter-ExtraBold.ttf');
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url('../fonts/Gilroy-SemiBold.ttf');
}

@font-face {
    font-family: "Gilroy-Light";
    src: url('../fonts/Gilroy-Light.ttf');
}
@font-face {
    font-family: "Gilroy-Medium";
    src: url('../fonts/Gilroy-Medium.ttf');
}
@font-face {
    font-family: "Gilroy300";
    src: url('../fonts/Gilroy-Light.ttf');
}
@font-face {
    font-family: "Gilroy-Bold";
    src: url('../fonts/Gilroy-Bold.ttf');
}
@font-face {
    font-family: "Gilroy-lightItalic";
    src: url('../fonts/Gilroy-UltraLightItalic.ttf');
}
@font-face {
    font-family: "Inter400";
    src: url('../fonts/Inter-Regular.ttf');
}
@font-face {
    font-family: "Inter600";
    src: url('../fonts/Gilroy-SemiBold.ttf');
}
@font-face {
    font-family: "Inter500";
    src: url('../fonts/Inter-Medium.ttf');
}
@font-face {
    font-family: "Jost400";
    src: url('../fonts/Gilroy-Regular.ttf');
}