@media screen and (max-width: 768px) and (min-width: 320px) {
.footer__wrapper-first {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer__third-block {
	margin: 24px 53px 20px 53px;
}
.footer__copyright {
	font-family: "Gilroy-Regular";
font-size: 18px;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #333333;

}
.footer__copyrigh--font{
font-family: "Gilroy-SemiBold";
font-size: 18px;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #333333;
}
.footer__social-section{
margin-bottom: 24px;
}
}
