@media screen and (min-width: 1201px) {
.footer__wrapper-first {
display: flex;

}
.footer__third-block {
	display: flex;
	flex-wrap: nowrap;
	height: 22px;
	width: 871px;
margin: 25px 2% 33px 3.6%;
}
.footer__copyright {
font-family: "Gilroy-Regular";
font-size: 18px;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #333333;
}
.footer__copyright__font{
font-family: "Gilroy-SemiBold";
font-size: 18px;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #333333;
}	
.footer__social-section{
	width: 870px;
margin: 25px 3.6% 25px 40px;
text-align: right;
}
.footer__facebook{
// margin-left: 64%;
margin-right: 0.5%;
}
.footer__twitter{
margin-right: 0.5%;
}
.footer__linkedin{
margin-right: 0.5%;
}
}
