@media screen and (max-width: 1200px) and (min-width: 769px) {
	.footer__container{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	}
.footer__wrapper-first {
	display: flex;
	justify-content: space-between;
	margin: 25px 30px;
}
.footer__third-block {
	display: flex;
	flex-wrap: nowrap;
}
.footer__copyright {
font-family: "Gilroy-Regular";
font-size: 18px;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #333333;
}
.footer__copyright--font{
font-family: "Gilroy300";
font-size: 18px;
font-weight: 300;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #333333;
}
   .footer__social-section{
	display: flex;
	width: 21.1%;
	height: 30px;
	margin-right: 0px;
	}
	.footer__facebook {
		width: 50px;
		height: 50px;
		margin-right: 10px;
	}
	.footer__twitter {
		width: 50px;
		height: 50px;
		margin-right: 10px;
	}
	.footer__linkedin {
		width: 50px;
		height: 50px;
		margin-right: 10px;
	}
	.footer__Community {
		width: 50px;
		height: 50px;
	}
}
