@media screen and (max-width: 768px) and (min-width: 320px) {
	.header__wrap{
	margin: 20px 20px 30px 20px;
	}
	.header__logo {
		display: flex;
		width: 91px;
		height: 35px;
	}
	.header__information-logo{
	display: none;
	}
	.menu-btn__img {
		width: 67px;
		height: 31px;
		font-family: "Gilroy-SemiBold";
		font-size: 25px;
		line-height: 29px;
		letter-spacing: 0em;
		text-align: center;
		color: #252525;
		text-transform: uppercase;
		margin-right: 20px;
	}
	.header__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 30px 20px 14px 20px;
	}
	.header__title {
		font-family: Inter;
		font-size: 57px;
		font-weight: 500;
		line-height: 69px;
		letter-spacing: 0em;
		text-align: center;
		color: #252525;
		text-transform: uppercase;
	}
	.header__subtittle {
		font-family:"Gilroy300";
		font-size: 57px;
		font-weight: 300;
		line-height: 66px;
		letter-spacing: 0em;
		text-align: center;
		color: #252525;
	}
	.header__arrow {
		width: 25px;
		height: 40px;
		margin: 30px 0% 14px 0%;
	}
}
@media screen and (max-width: 1200px) and (min-width: 769px) {
	.header__wrap{
		display: flex;
		justify-content: space-between;
	margin: 0px 3.2% 30px 3.2%;
	}
	.header__box{
	display: flex;	
	}	
	.header__logo {
	width: 91px;
	height: 35px;
	margin-top: 18px;
	}
	.header__information-logo{
	display: flex;
	margin-top: 32px;
	}
	.menu-btn__img{
	font-family: "Gilroy-SemiBold";
	font-size: 25px;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: center;
	color: #252525;
	text-transform: uppercase;
		}
	.burger-menu{
	width: 67px;
	height: 71px;
	}
	.header__name{
	font-family: "Gilroy800";
	font-size: 35px;
	font-weight: 800;
	line-height: 43px;
	letter-spacing: -0.02em;
	text-align: center;
	color: #252525;	
	margin-left: 10px;
	}
	.header__name--size{
	font-family: "Gilroy-Medium";
	font-size: 35px;
	line-height: 41px;
	letter-spacing: -0.02em;
	text-align: center;
	color: #252525;
	text-transform: uppercase;
	}
	.header__name--r{
	width: 21px;
	height: 29px;
	font-family: "Gilroy300";
	font-size: 25px;
	font-weight: 300;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: center;
	color: #252525;
	}
	.header__content {
	margin: 30px 20px 0px 20px;
	}
	.header__title {
	font-family: "Inter500";
	font-size: 150px;
	font-weight: 500;
	line-height: 182px;
	letter-spacing: 0em;
	text-align: center;
	margin-top: 30px;
	color: #252525;
	}
	.header__subtittle {
	font-family: "Gilroy300";
	font-size: 120px;
	font-weight: 300;
	line-height: 138px;
	letter-spacing: 0em;
	text-align: center;
	color: #252525;

	}
	.header__arrow {
	width: 25px;
	height: 40px;
	margin: 30px 48.6% 40px 48.6%;
	}
}
@media screen and (min-width: 1201px) {
	.header__wrap{
	display: flex;
	justify-content: space-between;
	margin: 40px 70px 30px 70px;
	}
	.header__box{
	display: flex;	
	}	
	.header__logo {
	width: 91px;
	height: 35px;
	}
	.header__information-logo{
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	margin-left: 10px;
	max-width: 266px;
	}
	.menu-btn{
	display: block;
	margin-top: 0px;
	}
	.header__name{
	font-family: "Gilroy800";
	font-size: 35px;
	font-weight: 800;
	line-height: 43px;
	letter-spacing: -0.02em;
	text-align: center;
	color: #252525;
	}
	.header__name--size{
	font-family: "Gilroy-Medium";
	font-size: 35px;
	line-height: 41px;
	letter-spacing: -0.02em;
	text-align: center;
	color: #252525;
	text-transform: uppercase;
		}
	.header__name--r{
	font-family: "Gilroy300";
	font-size: 25px;
	font-weight: 300;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: center;
	color: #252525;
	}
	.menu-btn__img {
	display: flex;
	font-family:" Gilroy-SemiBold";
	font-size: 25px;
	line-height: 29px;
	letter-spacing: 0em;
	color: #252525;
	width: 67px;
	height: 31px;
	text-transform: uppercase;
	}
	.burger-menu{
	text-align: right;
	}
	.header__content {
	margin: 30px 70px 0px 70px;
	}
	.header__title {
	font-family: "Inter500";
	font-size: 150px;
	font-weight: 500;
	line-height: 182px;
	letter-spacing: 0em;
	text-align: center;
	margin-top: 30px;
	color: #252525;
	}
	.header__subtittle {
	font-family: "Gilroy300";
	font-size: 120px;
	font-weight: 300;
	line-height: 138px;
	letter-spacing: 0em;
	text-align: center;
	color: #252525;
	}
	.header__arrow {
	width: 25px;
	height: 40px;
	margin-top: 30px;
	margin-bottom: 51px;
	margin-left: 48.7%;
	}
}
