@media screen and (max-width: 1200px) and (min-width: 769px) {
	.fives-block__tittle {
	font-family: "Gilroy300";
	font-size: 150px;
	font-weight: 300;
	line-height: 173px;
	letter-spacing: 0.04em;
	text-align: center;
	text-transform: uppercase;
	margin-top: 30px;
	color: #252525;
	}
	.fives-block__container{
	margin: 30px 30px 70px 30px; 
	}
	.fives-block__img {
	width: 100%;
	max-height: 921px;
	margin-bottom: 30px;
	object-fit: cover;
		object-position: bottom; 
	}
	.wrap-links{
	margin-bottom: 70px;
	}
	.wrap-links__tittle {
	font-family: "Gilroy-Bold";
	font-size: 40px;
	line-height: 44px;
	letter-spacing: 0em;
	text-align: left;
	text-transform: uppercase;
	color: #000000;
	}
	.wrap-links__buttons {
	display: flex;
	margin: 30px 13.7% 83px 0px;
	}
	.wrap-links__button {
	background: #ffffff;
	border-radius: 50px;
	}
	.wrap-links__button--right {
	margin-left: 30px;
	}
	.wrap-links__text {
	font-family: "Gilroy-Medium";
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	color: #252525;
	padding: 15px 30px 15px 30px;
	}
	.wrap-links__text--color {
	font-family: "Gilroy-Medium";
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
	padding: 16px 0px 16px 30px;
	}
	.wrap-links__discover {
	display: flex;
	position: absolute;
	width: 162px;
	border-radius: 50px;
	background: #252525;
		bottom: 0px;
	right: 0px;
	}
		.wrap-links__higher{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
		}
		.wrap-links__below{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	}
	.wrap-links__arrow {
	width: 21px;
	height: 13px;
	color: #ffffff;
	margin: 20px 20px 20px 10px;
	}
	.fives-block__btn {
	margin: 0px 40.6% 30px 40.6%;
	background-color: #ffffff;
	border-radius: 50px;
	width: 187px;
	display: flex;
	flex-wrap: nowrap;
	text-align: center;
	box-sizing: border-box;
	}
	.fives-block__name-btn {
	color: #252525;
	padding: 15px 60px;
	}
}