@media screen and (max-width: 768px) and (min-width: 320px) {
	.eighth-block__container{
	margin-left: 20px;
margin-right: 20px;

	}
.eighth-block__tittle {
	font-family: "Gilroy300";
font-size: 80px;
font-weight: 300;
line-height: 92px;
letter-spacing: 0em;
text-align: center;
color: #333333;
text-transform: uppercase;
margin-left: 20px;	
margin-right: 20px;
margin-top: 30px;
}
.eighth-block__subtittle {
	font-family: "Gilroy-Bold";
font-size: 50px;
line-height: 59px;
letter-spacing: 0em;
text-align: center;
color: #252525;
text-transform: uppercase;
// margin-left: 20px;	
margin-top: 30px;
}
.eighth-block__text {
	font-family: "Gilroy-Medium";
font-size: 30px;
line-height: 35px;
letter-spacing: 0em;
text-align: center;
color: #252525;

// margin-left: 20px;
margin-top: 30px;
}
.eighth-block__btn{
	display: flex;
	justify-content: center;
margin-top: 30px;
margin-bottom: 50px;
background: #252525;
width: 100%;
border-radius: 50px;
}
	.eighth-block__wrap{
	display: flex;
	padding: 15px 30px 15px 30px;
	align-items: center;
	}
.eighth-block__btn--text{
font-family: "Gilroy-Medium";
font-size: 18px;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
margin-right: 10px;
}
}