@media screen and (min-width: 1201px) {
	.third-block__wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0px 4% 70px 4%;
	box-sizing: border-box;
	text-align: center;
	}
	.third-block__logo {
		background: #ffffff;
		border-radius: 50px;
	}
	.logo-first {
	margin-right: 2%;
	margin-top: 70px;
	}
	.logo-first__img {
	padding: 17px 40px 17px 40px;
	}
	.logo-second {
		margin-top: 70px;
	margin-right: 2%;
	}
	.logo-second__img {
	padding: 17px 40px 17px 40px;
	}
	.logo-third {
		margin-top: 70px;
	margin-right: 2%;
	}
	.logo-third__img {
	padding: 15px 40px 15px 40px;
	}
	.logo-fourth {
		margin-top: 70px;
	margin-right: 2%;
	}
	.logo-fourth__img {
	padding: 18px 40px 18px 40px;
	}
	.logo-fives {
		margin-top: 70px;
	margin-right: 2%;
	}
	.logo-fives__img {
	padding: 22px 40px 22px 40px;
	}
	.logo-sixth {
		margin-top: 70px;
	margin-right: 2%;
	}
	.logo-sixth__img {
		padding: 15px 40px 15px 40px;
	}
	.logo-sevens{
	margin-top: 70px;
	}
	.logo-sevens__img {
		
	padding: 18px 40px 18px 40px;
	}
}
