@media screen and (max-width: 768px) and (min-width: 320px) {
		.fives-block__tittle {
		font-family: "Gilroy300";
		font-size: 80px;
		font-weight: 300;
		line-height: 92px;
		letter-spacing: 0.04em;
		text-align: center;
		color: #252525;
		text-transform: uppercase;
		margin-top: 30px;
	}
	.fives-block__container{
	margin: 30px 20px 40px 20px;
	}
	.fives-block__img {
		width: 100%;
		height: 434px;
		margin-bottom: 20px;
		object-fit: cover;
		object-position: bottom; 
	}
	.wrap-links__tittle {
		font-family: "Gilroy-Bold";
		font-size: 35px;
		line-height: 41px;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	.wrap-links__buttons {
		display: flex;
		margin: 20px 128px 83px 0px;
	}
	.wrap-links__button {
		background: #ffffff;
		border-radius: 50px;
	}
	.wrap-links__button--right {
		margin-left: 30px;
	}
	.wrap-links__text {
		font-family: "Gilroy-Medium";
		font-size: 18px;
		line-height: 21px;
		letter-spacing: 0em;
		text-align: left;
		padding: 15px 30px 15px 30px;
		white-space: nowrap;
		text-decoration: none;
		color: #252525;
	}
	.wrap-links__text--color {
		color: white;
		padding: 16px 0px 16px 30px;
		margin-right: 10px;
	}
	.wrap-links__discover {
		display: flex;
		position: absolute;
		width: 162px;
		border-radius: 50px;
		background: #252525;
			bottom: 0px;
		right: 0px;
		}
			.wrap-links__higher{
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		margin-bottom: 40px;
			}
			.wrap-links__below{
		display: flex;
		flex-direction: column;
		position: relative;
			width: 100%;
		}
	.wrap-links__arrow {
		width: 21px;
		height: 13px;
		color: #ffffff;
		margin: 20px 20px 20px 0px;
	}
	.fives-block__btn {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		margin: 30px 20px 30px 20px;
		background-color: #ffffff;
		border-radius: 50px;
	}
	.fives-block__name-btn {
		padding-top: 15px;
		padding-bottom: 15px;
		color: #252525;
		font-family: "Gilroy-Medium";
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: center;

	}
}