@media screen and (min-width: 1201px) {
.main-content__second-block{
display: flex;
}
.second-block__first-card-wrapper {
width: 67%;
margin: 93px 4% 93px 4%;

}
.second-block__first-card--span {
font-family: "Gilroy800";
font-size: 62px;
font-weight: 800;
line-height: 76px;
letter-spacing: 0em;
text-align: left;
color: #252525;
}
.second-block__first-card--text{
font-family: "Gilroy300";
font-size: 62px;
font-weight: 300;
line-height: 71px;
letter-spacing: 0em;
text-align: left;
color: #252525;
}
.second-block__second-card-wrapper {
width: 33%;
margin-top: 86px;
padding-bottom: 60px;
}
.second-block__second-card{
background: #252525;
padding-bottom: 60px;
// width: 485px;
}
.second-block__second-card--text {
font-family: "Gilroy-Medium";
font-size: 32px;
line-height: 32px;
letter-spacing: 0em;
text-align: right;
padding-top: 60px;
margin-right: 70px;
margin-bottom: 30px;
text-transform: uppercase;
}
	.social__section {
width: 100%;
height: 50px;
margin-right: 3.6%;
text-align: right;
}
		.facebook {
		width: 2.6%;
		height: 50px;
		margin-right: 20px;
		// margin-left: 155px;
		
	}
	.twitter {
		width: 2.6%;
		height: 50px;
		margin-right: 20px;
	}
	.linkedin {
		width: 2.6%;
		height: 50px;
		margin-right: 20px;
	}
	.Community {
		width: 2.6%;
		height: 50px;
		margin-right: 60px;
	}
}
