@media screen and (min-width: 1201px) {
	.sevens-block__wrap{
	display: grid;
	grid-template-columns: repeat(4, 23.18%);
	grid-template-rows: repeat(2, 48.9%);
	flex-wrap: wrap;
	margin-left: 3.6%;
	margin-right: 3.6%;
	justify-content: space-around;
	}
	.sevens-block__content{
max-width: 98%;
max-height: 44.7%;
margin-top: 30px;
margin-bottom: 48px;
flex-wrap: nowrap;
}
.seven-block__roselle{
margin-right: 0px;
}
.sevens-block_tittle {
font-family: "Gilroy300";
font-size: 13.25em;
font-weight: 300;
line-height: 15.25lh;
letter-spacing: 0.04em;
text-align: center;
color: #252525;
text-transform: uppercase;
margin-bottom: 50px;
margin-top: 50px;
}
.sevens-block__name {
font-family: "Gilroy800";
font-size: 1.2em;
font-weight: 800;
line-height: 2.31lh;
letter-spacing: 0em;
text-align: left;
color: #333333;
margin-bottom: 5px;
text-transform: uppercase;
flex-wrap: nowrap;
max-width: 100%;
}
.sevens-block__post {
font-family: "Gilroy-Medium";
font-size: 1.25em;
line-height: 1.44lh;
letter-spacing: 0em;
text-align: left;
color: #333333;
margin-bottom: 15px;
}
.seven-block__img{
width: 100%;
height: 22.69em;
margin-right: 1%;
margin-bottom: 15px;
filter: grayscale(1);
object-fit: cover;
object-position: bottom; 
}
.sevens-block__social-section {
	margin-bottom: 20px;
	text-align: right;
}
.sevens-block__facebook {
margin-right: 0.5%;
}
.sevens-block__twitter {
	margin-right: 0.5%;
}
.sevens-block__linkedin {
	margin-right: 0.5%;
}
.sevens-block__Information {
	display: flex;
	flex-direction: column;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
	max-width: 100%;
max-height: 693px;
}
.sevens-block__join {
font-family: "Gilroy-Regular";
font-size: 30px;
line-height: 35px;
text-align: left;
color: #333333;
text-transform: uppercase;
margin-top: 178px;
margin-bottom: 15px;
width: 100%;
height: 36px;
}
.sevens-block__question {
font-family: "Gilroy-Bold";
font-size: 3em;
line-height: 2.5lh;
letter-spacing: 0em;
text-align: left;
color: #333333;
text-transform: uppercase;
margin-bottom: 15px;
width: 100%;
height: 158px;
}
.btn {
	width: 10em;
	height: 53px;
border-radius: 50px;
background: #252525;
margin-bottom: 50px;
}
.btn__wrap{
display: flex;
align-items: center;
margin-left: 30px;
margin-right: 30px;
}
.btn__text{
font-family: "Gilroy-Medium";
font-size: 0.8em;
line-height: 1.31lh;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
margin-right: 10px;
}
.btn__arrow {
max-width: 21px;
max-height: 33px;
color: #FFFFFF;
}
}