@media screen and (max-width: 768px) and (min-width: 320px) {
	.fourth-block__background {
		width: 100%;
		height: 478px;
		object-fit: cover;
		object-position: bottom; 
	}
	.fourth-block__tittle {
		font-family: "Gilroy300";
		font-size: 80px;
		font-weight: 300;
		line-height: 92px;
		letter-spacing: 0em;
		text-align: center;
		margin: 20px 35px 40px 35px;
		color: #252525;
	}
	.fourth-block__content {
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 30px;
	}
	.content__title {
		font-family: "Gilroy-SemiBold";
		font-size: 35px;
		line-height: 41px;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
		margin-bottom: 10px;
	}
	.content__01::before {
		content: '01';
		font-family: "Gilroy-Light";
		font-size: 35px;
		line-height: 41px;
		letter-spacing: 0em;
		text-align: left;
	}
	.content__02::before {
		content: '02';
		font-family: "Gilroy-Light";
		font-size: 35px;
		line-height: 41px;
		letter-spacing: 0em;
		text-align: left;
	}
	.content__03::before {
		content: '03';
		font-family: "Gilroy-Light";
		font-size: 35px;
		line-height: 41px;
		letter-spacing: 0em;
		text-align: left;
	}
	.content__04::before {
		content: '04';
		font-family: "Gilroy-Light";
		font-size: 35px;
		line-height: 41px;
		letter-spacing: 0em;
		text-align: left;
	}
	.content__text {
		font-family: "Inter400";
		font-size: 20px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0em;
		text-align: left;
		margin-bottom: 30px;
		color: #000000;
	}
	.fourth-block__linie {
		width: 100%;
		border: 1px;
		border: 1px solid #252525;
	}
	.block__linie--longe {
		border: 1px solid #252525;
	}
}
