@media screen and (max-width: 1200px) and (min-width: 769px) {
.sixth-block__tittle {
font-family: "Gilroy300";
font-size: 150px;
font-weight: 300;
line-height: 173px;
letter-spacing: 0.04em;
text-align: center;
margin: 3% 2% 3% 2%;
text-transform: uppercase;
color: #252525;
}
.sixth-block__content {
	margin-left: 3%;
	margin-right: 3%;
}
.sixth-block__logo {
margin-bottom: 3%;
margin-top: 4%;
}
.sixth-block__subtittle {
font-family: "Gilroy800";
font-size: 40px;
font-weight: 800;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 30px;
color: #333333;

}
.sixth-block__text {
font-family: "Inter400";
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #000000;
margin-bottom: 30px;
}
.sixth-block__avtor {
}
.avtor {
display: flex;
margin-right: 11.6%;
margin-bottom: 4%;
}
.avtor__img {
width: 70px;
height: 70px;
border-radius: 50px;
gap: 10px;
}
.avtor__name {
font-family: "Inter600";
font-size: 20px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #000000;
	margin-bottom: 10px;
}
.avtor__post {
	font-family: "Inter400";
font-size: 20px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #000000;
}
.avtor__information {
display: flex;
flex-direction: column;
margin-left: 10px;
margin-top: 10px;
}
.page{
	.block__linie{
	display: block;
	border: 1px solid #252525;
	}
}
}