@media screen and (min-width: 1201px) {
	.fourth-block__wrapper{
	display: flex;
	}
	.fourth-block__background {
   width: 51%;
	height: 1137px;
	object-fit: cover;
	object-position: bottom; 
	}
	.fourth-block__tittle {
	font-family: "Gilroy300";
	font-size: 150px;
	font-weight: 300;
	line-height: 173px;
	letter-spacing: 0em;
	text-align: left;
	margin: 70px 63px 100px 7.8%;
	color: #252525;
	}
	.fourth-block__content {
	margin-right: 4.6%;
	margin-bottom: 40px;
	margin-left: 7.8%;
	}
	.content__title {
	font-family: "Gilroy-SemiBold";
	font-size: 44px;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	}
	.content__01::before {
	content: '01';
	font-family: "Gilroy-Light";
	font-size: 44px;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	}
	.content__02::before {
	content: '02';
	font-family: "Gilroy-Light";
	font-size: 44px;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	}
	.content__03::before {
	content: '03';
	font-family: "Gilroy-Light";
	font-size: 44px;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: left;
	}
	.content__04::before {
	content: '04';
	font-family: "Gilroy-Light";
	font-size: 44px;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	}
	.content__text {
	font-family: "Inter400";
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	margin-top: 10px;
	margin-bottom: 40px;
	}
	.fourth-block__linie {
	width: 100%;
	border: 1px;
	border: 1px solid #252525;
	}
	.block__linie--longe {
		display: flex;
	border: 1px solid #252525;
	}	
}
