@media screen and (min-width: 1201px) {
.sixth-block__wrap{
display: grid;
grid-template-columns: repeat(3, 33.3%);
grid-template-rows: repeat(2, 1fr);
margin-left: 3.65%;
margin-right: 3.65%;
margin-bottom: 130px;
box-sizing: border-box;
}
	.sixth-block__tittle {
font-family: "Gilroy300";
font-size: 212px;
font-weight: 300;
line-height: 244px;
letter-spacing: 0.04em;
text-align: center;
color: #252525;
text-transform: uppercase;
margin-bottom: 50px;
}
.sixth-block__content {
width: 100%;
height: 100%;
border-bottom: 1px solid #252525;
border-right: 1px solid #252525;
}
.sixth-block__container{
	
width: 88.4%;
height: 84%;
margin: 30px 30px 60px 30px;
}
.sixth-block__logo {
	margin-bottom: 30px;
	height: 35px;
}
.sixth-block__subtittle {
font-family: "Gilroy800";
font-size: 38px;
font-weight: 800;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: #333333;
height: 29.6%;
}
.sixth-block__text {
	font-family: "Inter400";
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	margin-top: 30px;
	height: 35.4%;
}
.avtor {
	display: flex;
	margin-bottom: 70px;
	margin-top: 30px;
}
.avtor__img {
	width: 70px;
	height: 70px;
	border-radius: 50px;
}
.avtor__name {
	font-family: "Inter600";
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	margin-bottom: 10px;
}
.avtor__post {
	font-family: "Inter400";
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
}
.avtor__information {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	margin-left: 10px;
	margin-top: 10px;
}
.block__linie{
display: none;
}
.sixth-content3{
	border-right: none;
}
.sixth-content6{
	border: none;
}
.sixth-content5{
	border-bottom: none;
}
.sixth-content4{
	border-bottom: none;
}
}