@media screen and (max-width: 768px) and (min-width: 320px) {
	.sevens-block__wrap{
	margin-left: 20px;
margin-right: 20px;
	}
.sevens-block_tittle {
font-family: "Gilroy300";
font-size: 80px;
font-weight: 300;
line-height: 92px;
letter-spacing: 0em;
text-align: center;
color: #252525;
text-transform: uppercase;
margin-bottom: 30px;
margin-top: 30px;
}
.sevens-block__name {
font-family: "Gilroy800";
font-size: 30px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0em;
text-align: center;
color: #333333;
margin-bottom: 5px;
margin-top: 20px;
text-transform: uppercase;
}
.sevens-block__post {
	font-family: "Gilroy-Medium";
font-size: 20px;
line-height: 23px;
letter-spacing: 0em;
text-align: center;
color: #333333;
margin-bottom: 15px;
}
.seven-block__img{
	width: 100%;
height: 507px;
margin-bottom: 15px;
filter: grayscale(1);
object-fit: cover;
object-position: bottom; 
}
.sevens-block__social-section {
	text-align: center;
	margin-bottom: 20px;
}
.sevens-block__facebook {
margin-right: 10px;
}
.sevens-block__twitter {
	margin-right: 10px;

}
.sevens-block__linkedin {
	margin-right: 10px;
}
.sevens-block__Information {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
}
.sevens-block__join {
	font-family: "Gilroy-Regular";
font-size: 30px;
line-height: 35px;
letter-spacing: 0em;
text-align: center;
color: #333333;
text-transform: uppercase;
}
.sevens-block__question {
	font-family: "Gilroy-Bold";
font-size: 40px;
line-height: 47px;
letter-spacing: 0em;
text-align: center;
color: #333333;
text-transform: uppercase;
margin-bottom: 15px;
margin-top: 15px;
}
.btn {
	display: flex;
	flex-wrap: nowrap;
width: 100%;
height: 53.33px;
padding: 10px, 30px, 10px, 30px;
border-radius: 50px;
background: #252525;
margin-bottom: 50px;
justify-content: center;
align-items: center;
}
.btn__wrap{
display: flex;
justify-content: center;
align-items: center;
}
.btn__text{
	font-family: "Gilroy-Medium";
font-size: 18px;
line-height: 21px;
letter-spacing: 0em;
color: #FFFFFF;
}
.btn__arrow {
width: 21px;
height: 33px;
color: #FFFFFF;
}
}