@media screen and (max-width: 1200px) and (min-width: 769px) {
	.third-block__wrapper{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: space-around;
	margin: 40px 58px 0px 58px;
	}
	.third-block__logo {
		background: #ffffff;
		border-radius: 50px;
	}
	.logo-first {
		margin: 0% 0% 2% 8%;
	}
	.logo-first__img {
		padding: 17px 40px 17px 40px;
	}
	.logo-second {
		margin: 0% 0% 2% 0px;
	}
	.logo-second__img {
		padding: 17px 40px 17px 40px;
	}
	.logo-third {
		margin: 0% 8% 2% 0px;
	}
	.logo-third__img {
		padding: 15px 40px 15px 40px;
	}
	.logo-fourth {
		margin: 0px 0% 4% 0%;
	}
		.logo-fourth__img {
		padding: 18px 40px 18px 40px;
	}
	.logo-fives {
		margin: 0px 0% 4% 0px;
	}
	.logo-fives__img {
		padding: 22px 40px 22px 40px;
	}
	.logo-sixth {
		margin: 0px 0% 4% 0px;
	}
	.logo-sixth__img {
		padding: 15px 40px 15px 40px;
	}
	.logo-sevens {
		margin: 0px 0% 4% 0px;
	}
	.logo-sevens__img {
		padding: 15px 40px 15px 40px;
	}

}
