@media screen and (max-width: 1200px) and (min-width: 769px) {
	.fourth-block__background {
	width: 100%;
	height: 1980px;
	object-fit: cover;
	object-position: bottom; 
	}
	.fourth-block__tittle {
	font-family: "Gilroy300";
	font-size: 150px;
	font-weight: 300;
	line-height: 173px;
	letter-spacing: 0em;
	text-align: center;
	margin: 20px 35px 0px 35px;
	color: #252525;
	}
	.fourth-block__content {
	margin: 40px 30px 40px 30px;
	}
	.fourth-block__content:last-child{
	margin-bottom: 0px;
	}
	.content__title {
	font-family: "Gilroy-SemiBold";
	font-size: 44px;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	margin-bottom: 10px;
	}
	.content__01::before {
	content: '01';
	font-family: "Gilroy-Light";
	font-size: 44px;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	}
	.content__02::before {
	content: '02';
	font-family: "Gilroy-Light";
	font-size: 44px;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	}
	.content__03::before {
	content: '03';
	font-family: "Gilroy-Light";
	font-size: 44px;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	}
	.content__04::before {
	content: '04';
	font-family: "Gilroy-Light";
	font-size: 44px;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	}
	.content__text {
	font-family: "Inter400";
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	margin-bottom: 40px;
	}
	.fourth-block__linie {
	width: 100%;
	border: 1px;
	border: 1px solid #252525;
	}
	.block__linie--longe {
		display: flex;
	border: 1px solid #252525;
	}	
}
