@media screen and (min-width: 1201px) {
	.fives-block__wrapper{
	margin-left: 3.6%;
	margin-bottom: 100px;
	box-sizing: border-box;
	}
	.fives-block__tittle {
	font-family: "Gilroy300";
	font-size: 132px;
	font-weight: 300;
	line-height: 130px;
	letter-spacing: 0.04em;
	text-align: center;
	color: #252525;
	text-transform: uppercase;
	margin-top: 70px;
	margin-bottom: 50px;
	margin-right: 3.6%;
	}
	.fives-block__container{
	display: grid;
	justify-content: space-between;
	grid-template-columns: repeat(3, 32%);
	grid-template-rows: repeat(2,42.7%);
	column-gap: 2%;
	row-gap: 3.6%;
	margin-right: 3.6%;
	box-sizing: border-box;
	}
	.fives-block__img-1{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	}
	.fives-block__img-2{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
   grid-row-end: 2;
	}
	.fives-block__img-3{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
   grid-row-end: 3;
	}
	.fives-block__img-4{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
   grid-row-end: 3;
		}
	.fives-block__img {
	display: flex;
	width: 100%;
	height: 100%;
	}
	.wrap-links__higher{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
   grid-row-end: 2;
	}
	.wrap-links__below{
	display: inline;
	position: relative;
	width: 100%;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	}
	.wrap-links__tittle {
	font-family: "Gilroy-Bold";
	font-size: 40px;
	line-height: 44px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 30px;
	}
	.wrap-links__buttons {
	display: flex;
	}
	.wrap-links__button {
	background: #ffffff;
	border-radius: 50px;
	}
	.wrap-links__button--right {
	margin-left: 30px;
	}
	.wrap-links__text {
	font-family: "Gilroy-Medium";
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	padding: 15px 30px 15px 30px;
	white-space: nowrap;
	text-decoration: none;
	color: #252525;
	}
	.wrap-links__text--color {
	color: white;
	padding: 10px 0px 10px 20px;
	margin-right: 10px;
	}
	.wrap-links__discover {
	display: flex;
	position: absolute;
	border-radius: 50px;
	background: #252525;
	bottom: 0px;
	right: 0px;
		}
	.wrap-links__arrow {
	width: 21px;
	height: 13px;
	color: #ffffff;
	margin: 15px 30px 10px 0px;
	}
	.fives-block__btn {
	background-color: #ffffff;
	border-radius: 50px;
	width:187px;
	height: 52px;
	align-items: center;
	margin-left: 41.5%;
	top: 0px;	
	}
	.fives-block__name-btn {
	font-family: "Gilroy-Medium";
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	padding: 15px 60px;
	color: #252525;
	}	
}