@media screen and (max-width: 768px) and (min-width: 320px) {
.sixth-block__tittle {
	font-family: "Gilroy300";
	font-size: 80px;
	font-weight: 300;
	line-height: 92px;
	letter-spacing: 0em;
	text-align: center;
	color: #252525;
	margin: 30px 01px 30px 0px;
	text-transform: uppercase;
}
.sixth-block__content {
	margin-left: 30px;
	margin-right: 30px;
}
.sixth-block__logo {
	margin-bottom: 30px;
	margin-top: 40px;
}
.sixth-block__subtittle {
	font-family: "Gilroy800";
	font-size: 40px;
	font-weight: 800;
	line-height: 44px;
	letter-spacing: 0em;
	text-align: left;
	color: #333333;
	margin-bottom: 30px;
}
.sixth-block__text {
	font-family: "Inter400";
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	margin-bottom: 30px;
}
.sixth-block__avtor {
}
.avtor {
	display: flex;
	margin-right: 115px;
	margin-bottom: 40px;
}
.avtor__img {
	width: 70px;
	height: 70px;
	border-radius: 50px;
	gap: 10px;
}
.avtor__name {
	font-family: "Inter600";
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	margin-bottom: 10px;
}
.avtor__post {
	font-family: "Inter400";
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
}
.avtor__information {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-top: 10px;
}
}