@media screen and (max-width: 768px) and (min-width: 320px) {
	.second-block__first-card {
	margin: 30px 20px 30px 20px;
	}
	.second-block__first-card--text {
	font-family: "Gilroy300";
	font-size: 30px;
	font-weight: 300;
	line-height: 35px;
	letter-spacing: 0em;
	text-align: center;
	color: #252525;
	}
	.second-block__second-card{
	display: flex;
	flex-direction: column;
	margin-right: 30px;
	align-items: flex-end;
	}
	.second-block__first-card--span {
	font-family: "Gilroy800";
	font-size: 30px;
	font-weight: 800;
	line-height: 37px;
	letter-spacing: 0em;
	text-align: center;
	}
	.second-block__second-card-wrapper {
	background: #252525;
	padding-bottom: 40px;
	padding-top: 40px;
	}
	.second-block__second-card--text {
	font-family: "Gilroy-Medium";
	font-size: 28px;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: right;
	text-transform: uppercase;
	margin-bottom: 30px;
	}
	.social-section {
	width: 97%;
	height: 50px;
	}
	.facebook {
	width: 50px;
	height: 50px;
	margin-right: 20px;
	}
	.twitter {
	width: 50px;
	height: 50px;
	margin-right: 20px;
	}
	.linkedin {
	width: 50px;
	height: 50px;
	margin-right: 20px;
	}
	.Community {
	width: 50px;
	height: 50px;
	}
}
