@media screen and (max-width: 768px) and (min-width: 320px) {
	.third-block__wrapper{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: space-around;
	margin: 40px 58px 0px 58px;
	}
	.third-block__logo {
		background: #ffffff;
		border-radius: 50px;
	}
	.logo-first {
		margin: 0px 25.9% 20px 25.9%;
	}
	.logo-first__img {
		padding: 17px 40px 17px 40px;
	}
	.logo-second {
		margin: 0px 22.8% 20px 22.8%;
	}
	.logo-second__img {
		padding: 17px 40px 17px 40px;
	}
	.logo-third {
		margin: 0px 20px 20px 0px;
	}
	.logo-third__img {
		padding: 15px 40px 15px 40px;
	}
	.logo-fourth {
		margin: 0px 0px 20px 0px;
	}
	.logo-fourth__img {
		padding: 18px 40px 18px 40px;
	}
	.logo-fives {
		margin: 0px 20px 20px 0px;
	}
	.logo-fives__img {
		padding: 22px 40px 22px 40px;
	}
	.logo-sixth {
		margin: 0px 0px 20px 0px;
	}
	.logo-sixth__img {
		padding: 15px 40px 15px 40px;
	}
	.logo-sevens {
		margin: 0px 0% 30px 0%;
	}
	.logo-sevens__img {
		padding: 18px 40px 18px 40px;
	}
}
