@media screen and (max-width: 1200px) and (min-width: 769px) {
	.eighth-block__wrapper{
		margin: 30px 30px 50px 30px;
	}
	.eighth-block__container{
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	.eighth-block__tittle {
	font-family: "Gilroy300";
	font-size: 150px;
	font-weight: 300;
	line-height: 173px;
	letter-spacing: 0em;
	text-align: center;
	color: #333333;
	text-transform: uppercase;
	}
	.eighth-block__subtittle {
	font-family: "Gilroy-Bold";
	font-size: 64px;
	line-height: 75px;
	letter-spacing: 0em;
	text-align: center;
	color: #252525;
	text-transform: uppercase;	
	margin-top: 40px;
	}
	.eighth-block__text {
	font-family: "Gilroy-Medium";
	font-size: 34px;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: center;
	color: #252525;
	margin-top: 30px;
	align-items: center;
	}
	.eighth-block__btn{
		display: flex;
	justify-content: center;
	margin-top: 30px;
	width: 27.9%;
	border-radius: 50px;
	background: #252525;
	color: white;
	}
	.eighth-block__wrap{
	display: flex;
	padding: 15px 30px 15px 30px;
	align-items: center;
	}
	.eighth-block__btn--text{
	margin-right: 10px;
	font-family: "Gilroy-Medium";
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	}
}