@media screen and (max-width: 1200px) and (min-width: 769px) {
	.sevens-block__wrap{
	display: flex;
	flex-wrap: wrap;
	margin-left: 3%;
	margin-right: 3%;
	justify-content: space-around;
	}
	.sevens-block__content{
	display: flex;
	flex-direction: column;
	width: 45%;
	max-height: 693px;

	}
	.sevens-block_tittle {
	font-family: "Gilroy300";
	font-size: 150px;
	font-weight: 300;
	line-height: 173px;
	letter-spacing: 0em;
	text-align: center;
	color: #252525;
	text-transform: uppercase;
	margin-top: 30px;
	}
	.sevens-block__name {
	font-family: "Gilroy800";
	font-size: 30px;
	font-weight: 800;
	line-height: 37px;
	letter-spacing: 0em;
	text-align: left;
	color: #333333;
	margin-bottom: 5px;
	margin-top: 20px;
	text-transform: uppercase;
	}
	.sevens-block__post {
	font-family: "Gilroy-Medium";
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
	color: #333333;
	margin-bottom: 15px;
	}
	.seven-block__img{
	width: 100%;
	height: 507px;
	margin-bottom: 15px;
	filter: grayscale(1);
	}
	.sevens-block__social-section {
	display: flex;
	flex-wrap: nowrap;
	height: 30px;
	margin-bottom: 30px;
	justify-content: flex-end;
	}
	.sevens-block__facebook {
	margin-right: 10px;
	}
	.sevens-block__twitter {
	margin-right: 10px;
	}
	.sevens-block__linkedin {
	margin-right: 10px;
	}
	.sevens-block__Information {
	margin: 30px 30px 50px 30px;
	}
	.sevens-block__join {
	font-family: "Gilroy-Regular";
	font-size: 30px;
	line-height: 35px;
	letter-spacing: 0em;
	text-align: left;
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 15px;
	}
	.sevens-block__question {
	font-family: "Gilroy-Bold";
	font-size: 64px;
	line-height: 75px;
	letter-spacing: 0em;
	text-align: left;
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 15px;
	}
	.btn {
	border-radius: 50px;
	background: #252525;
	}
	.btn__wrap{
	display: flex;
	padding: 10px 30px;
	}
	.btn__text{
	font-family: "Gilroy-Medium";
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	color: #FFFFFF;
	margin-right: 10px;
	}
	.btn__arrow {
	width: 21px;
	height: 22px;
	color: #FFFFFF;
	}
}