@media screen and (min-width: 1201px) {
	.eighth-block__wrapper{
	display: flex;
	margin-top: 100px;
	margin-bottom: 100px;
	}
.eighth-block__tittle {
font-family: "Gilroy300";
font-size: 155px;
font-weight: 300;
line-height: 179px;
letter-spacing: 0em;
text-align: left;
color: #333333;
text-transform: uppercase;
margin-left: 70px;
width: 45%;
}
.eighth-block__container{
margin-left: 40px;
margin-right: 0px;
width: 45%;
}
.eighth-block__subtittle {
font-family: "Gilroy-Bold";
font-size: 64px;
line-height: 75px;
letter-spacing: 0em;
text-align: left;
color: #252525;
text-transform: uppercase;

}
.eighth-block__text {
font-family: "Gilroy-Medium";
font-size: 34px;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
color: #252525;
margin-left: 20px;
margin-top: 30px;
// width: 870px;
}
.eighth-block__btn{
margin-left: 20px;
margin-top: 30px;
}
.eighth-block__btn {
border-radius: 50px;
background: #252525;
}
.eighth-block__wrap{
display: flex;
align-items: center;
margin: 15px 30px 15px 30px;
}
.eighth-block__btn--text{
font-family: "Gilroy-Medium";
font-size: 18px;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
margin-right: 10px;
}
.eighth-block__arrow {
width: 21px;
height: 33px;
color: #FFFFFF;
}
}