@media screen and (max-width: 1200px) and (min-width: 769px) {
.second-block__first-card {
	margin: 30px 31px 30px 30px;
}
.second-block__first-card--span {
font-family: "Gilroy800";
font-size: 52px;
font-weight: 800;
line-height: 64px;
letter-spacing: 0em;
text-align: center;
color: #252525;

}
.second-block__first-card--text{
font-family: "Gilroy300";
font-size: 52px;
font-weight: 300;
line-height: 60px;
letter-spacing: 0em;
text-align: center;
color: #252525;
}
.second-block__second-card-wrapper {
background: #252525;
padding-bottom: 40px;
padding-top: 40px;
}
.second-block__second-card--text {
font-family: "Gilroy-Medium";
font-size: 28px;
line-height: 28px;
letter-spacing: 0em;
text-align: right;
margin-right: 30px;
margin-bottom: 30px;
color: #FFFFFF;
text-transform: uppercase;
}
	.social__section {
width: 97%;
height: 50px;
text-align: right;
	}
	.facebook {
		width: 50px;
		height: 50px;
		margin-left: 55.8%;
		margin-right: 20px;
	}
	.twitter {
		width: 50px;
		height: 50px;
		margin-right: 20px;
	}
	.linkedin {
		width: 50px;
		height: 50px;
		margin-right: 20px;
	}
	.Community {
		width: 50px;
		height: 50px;
		
	}
}
